* {
    margin: 0; /* Устанавливает отступы по умолчанию равными 0 */
    padding: 0; /* Устанавливает поля по умолчанию равными 0 */
    box-sizing: border-box; /* Устанавливает box-sizing для всех элементов */
}

body {
    width: 100%; /* Устанавливает ширину тела 100% */
    height: 100vh; /* Устанавливает высоту тела 100% высоты экрана */
    display: flex; /* Использует flexbox для выравнивания содержимого */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    align-items: center; /* Центрирует содержимое по вертикали */
    background-color: #000; /* Устанавливает черный цвет фона */
}

ul {
    position: relative; /* Устанавливает позиционирование для списка */
    display: flex; /* Устанавливает flexbox для списка */
}

ul li {
    position: relative; /* Устанавливает позиционирование для элементов списка */
    display: flex; /* Устанавливает flexbox для элементов списка */
    list-style: none; /* Убирает маркеры списка */
    margin: 0 20px; /* Устанавливает отступы по бокам для элементов списка */
    cursor: pointer; /* Меняет курсор на указатель при наведении */
}

ul li a {
    text-decoration: none; /* Убирает подчеркивание ссылок */
}

ul li a .fa {
    font-size: 10em; /* Устанавливает размер иконок */
    color: #222; /* Устанавливает цвет иконок */
}

ul li::before {
    font-family: fontAwesome; /* Использует шрифт Font Awesome */
    position: absolute; /* Абсолютное позиционирование псевдоэлемента */
    top: 0; /* Устанавливает верхнюю позицию на 0 */
    left: 0; /* Устанавливает левую позицию на 0 */
    font-size: 10em; /* Устанавливает размер псевдоэлемента */
    height: 0; /* Начальная высота псевдоэлемента */
    overflow: hidden; /* Скрывает переполнение */
    transition: all .5s ease-in-out; /* Устанавливает переход для всех свойств */
}

ul li:nth-child(1)::before {
    content: '\f099'; /* Устанавливает содержимое для первого элемента (Twitter) */
    color: #1da1f2; /* Устанавливает цвет для первого элемента */
    border-bottom: 4px solid #1da1f2; /* Устанавливает нижнюю границу для первого элемента */
}

ul li:nth-child(2)::before {
    content: '\f232'; /* Устанавливает содержимое для второго элемента (WhatsApp) */
    color: rgb(39, 206, 83); /* Устанавливает цвет для второго элемента */
    border-bottom: 4px solid rgb(39, 206, 83); /* Устанавливает нижнюю границу для второго элемента */
}

ul li:nth-child(3)::before {
    content: '\f16a'; /* Устанавливает содержимое для третьего элемента (YouTube) */
    color: rgb(241, 0, 9); /* Устанавливает цвет для третьего элемента */
    border-bottom: 4px solid rgb(241, 0, 9); /* Устанавливает нижнюю границу для третьего элемента */
}

ul li:hover::before {
    height: 100%; /* Устанавливает высоту 100% при наведении */
}
